body {
    background-color: #808080;
}
input {
    background-color: #DCDCDC;
}
.button-cell {
    width: 30px;
    height: 30px;
    padding-right: 0px;
    padding-left: 0px;
}
table.padding0cell0 {
    padding: 0px 0px 0px 0px;
    border-spacing: 0px 0px;
}
table.padding0cell0 td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

table{
    table-layout:fixed;
}

table.cell-pad2-space2{
    border-collapse: separate;
    border-spacing: 2px;
}

table.cell-pad2-space2 th td{
    padding: 2px;
}
 
table.cell-pad0-space0{
    border-collapse: separate;
    border-spacing: 0px;
}
table.cell-pad0-space0 th td{
    padding: 0px;
}

button.bomb{
    background: url(resources/mine.png);
    background-size: 100%;
}
button.detonated{
    background: url(resources/mine.png);
    background-size: 100%;
    background-color: red;
}
button.cleared{
    background: "";
    background-color: white;
}
button.uncleared{
    background: "";
    background-color: "";
}
button.flagged{
    background: url(resources/flag.png);
    background-size: 100%;
}